/* src/components/MenuCategory.css */

.menu-category {
    background-color: #444;
    padding: 10px;
    border: 1px dashed #aaa;
  }
  
  .category-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .category-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .category-items {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .category-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px dashed #777;
    padding-bottom: 5px;
  }
  
  .item-info h3 {
    margin: 0;
    font-size: 1.1rem;
  }
  
  .item-info p {
    margin: 0;
    font-size: 0.9rem;
    color: #ccc;
  }
  
  .item-price {
    font-weight: bold;
    color: #ffb300;
  }
  